@{
	ViewBag.Title = "¿Quienes somos?";
}
<h2>@ViewBag.Title.</h2>
<h3>Mision</h3>

<div class="jumbotron">
	<h1>Somos</h1>
	<p class="lead">Trabajamos para garantizar el patrimonio de nuestro clientes: instalaciones, centros comerciales, edificios corporativos o predios para estacionamientos.</p>
	<p>Somos atención y supervisión 24/7.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


