<br />
<br />

@{
	ViewBag.Title = "¿Quienes somos?";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Est</h2>
<div class="jumbotron">
	<h1>Somos</h1>
	<p class="lead">Trabajamos para garantizar el patrimonio de nuestro clientes: instalaciones, centros comerciales, edificios corporativos o predios para estacionamientos.</p>
	<p>Somos atención y supervisión 24/7.</p>
</div>