@{
	ViewBag.Title = "Estacionamiento Hixquilucan";
}
<br />
<br />
<br />
<br />
<h2>@ViewBag.Title</h2>



<!--<div id="car">
	<img src="~/Content/003.jpg" alt="Slider 03"/>
</div> /item -->






<div class="features-row">

	<section>
		<span><img src="~/Content/logo.jpg" height="400" width="1000" alt="" id="imagen" /></span>

	</section>
</div>
<section class="box special features">

	<div class="features-row">
		<section>
			<span><img src="~/Content/logo.jpg" height="200" width="400" alt="" /></span>
			<h3>Precio 1ra hora $26</h3>
			<p>Precio de la pensión: $1950 IVA INCLUIDO</p>
			<p>Tarifa Maxima 12hrs: $120</p>
			<p>Tarifa Maxima 24hrs: $280</p>
			<p>Boleto perdido: $180</p>
			<p>Todos los dias las 24 horas</p>
			<p><a href="https://localhost:44367/Home/About" class="btn btn-primary btn-lg">Ir a &raquo;</a></p>

		</section>
		<section>
			<span><img src="~/Content/logo2.jpg" height="200" width="400" alt="" /></span>
			<h3>Precio 2da hora $35</h3>
			<p>Precio de la pensión: $2500 IVA INCLUIDO</p>
			<p>Tarifa Maxima 12hrs: $180</p>
			<p>Tarifa Maxima 24hrs: $240</p>
			<p>Boleto perdido: $180</p>
			<p>Todos los dias las 24 horas</p>
			<p><a href="https://localhost:44367/Home/About" class="btn btn-primary btn-lg">Ir a &raquo;</a></p>

		</section>
	</div>
</section>
