@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Paraje del rio<br />
	Huixquilucan, Estado de México<br />
	Magdalena Chichicaspa, CP 52773<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<address>
	<strong>Support:</strong>   <a>angel.hdz.a@hotmail.com</a><br />
	<strong>Marketing:</strong> <a>angel.hdz.a@hotmail.com</a>
</address>
