
@{
	ViewBag.Title = "Huixqui";
}
<br />
<br />
<br />
<br />
<h2>Huixqui</h2>

<div class="features-row">

	<section>
		<span><img src="~/Content/logo.jpg" height="400" width="1000" alt="" id="imagen" /></span>

	</section>
</div>

