@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@{
	ViewBag.Title = "Estacionamiento";

}
<br />
<br />
<br />
<br />

<div class="jumbotron">
	<h1><img src="~/Content/esta.png" width="80" height="80" id="e">Bienvenidos @ViewBag.nom @ViewBag.ape</h1>
	<p class="lead">Le brindamos seguridad a su vehiculo</p>
	<!--<p><a href="https://localhost:44367/Home/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Mision: </h2>
			<p>
				Brindar cada día un servicio de excelencia que supere las expectativas de nuestros clientes.
			</p>
		</div>
		<div class="col-md-4">
			<h2>Vision:</h2>
			<p>
				Ser el mejor prestador de servicios de estacionamientos del mercado, esforzándonos por ofrecer siempre un valor agregado a nuestros clientes.
			</p>
		</div>

		@if (ViewBag.rol == "Admin")
		{

		<div class="col-md-4">
			<h2>Valores: </h2>
			<il>
				<ol>Integridad</ol>
				<ol>Respeto</ol>
				<ol>Calidad</ol>
				<ol>Lealtad</ol>
				<ol>Agradacemiento</ol>
			</il>
			


		</div>
		}
		</div>
	
