@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;

@{


	ViewBag.Title = "Estacionamiento";


}


<div class="jumbotron">
	<h1><img src="~/Content/esta.png" width="80" height="80" id="e">Bienvenidos @ViewBag.nom @ViewBag.ape</h1>
	<p class="lead">Le brindamos seguridad a su vehiculo</p>
	<p><a href="https://localhost:44367/Home/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Mision: </h2>
		<p>
			Brindar cada día un servicio de excelencia que supere las expectativas de nuestros clientes. 
		</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Vision</h2>
		<p>
			Visión:
			Ser el mejor prestador de servicios de estacionamientos del mercado, esforzándonos por ofrecer siempre un valor agregado a nuestros clientes.
		</p>
		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	@if(ViewBag.rol == "Admin")
	{


	<div class="col-md-4">
		<h2>Valores: </h2>
		<p>Integridad</p>
		<p>Respeto</p>
		<p>Calidad</p>
		<p>Lealtad</p>
		<p>Agradacemiento</p>

		<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
	}
</div>