body {
	background-image: url(Estacionamiento.jpg);
	
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	

}
h1, h2, h3, h4, h5, h6 {
	color:white;
}

p {
	color: black;
}
#menu{
		background-color:maroon;
		 opacity:0.7;
     }

